<!DOCTYPE html>
<html>
<head>
    <title>Product List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
    <h1>Product List</h1>
    <ul>
        {% for product in products %}
            <li>
                <h3>{{ product.name }}</h3>
                <p>Price: {{ product.price }}</p>
                <p>Stock: {{ product.stock }}</p>
                <p>Description: {{ product.description }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
